# Apply override to all files and directories in the directory
ano-dir/** linguist-documentation
BachelorArbeitsVault/* linguist-documentation # exact, absolute path

# Apply override to all files in the directory
# project-docs/* linguist-documentation